#adult_ed {
  ::selection {
    background: darken($adultprimarycolour,10%);
    color: #fff;
  }
  #sidebar-menu {
    li {
      background: $adultprimarycolour;
        &:hover {
          background: $adultsecondarycolour;
          transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
        }
        a {
          background:$adultprimarycolour;
          &:hover {
            background: $adultsecondarycolour;
            transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
        &.current_page_item {
          background: $adultsecondarycolour;
          transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
            a {
              background: $adultsecondarycolour;
              transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        .sub-menu {
          display:none;
          transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
          li {
            display:none;
            transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
        &:hover {
          .sub-menu {
            display:block;
            padding:0;
            width:100%;
            transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
              li {
                display:block;
                width:100%;
                transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
                  a {
                    margin:0;
                    background:#d6d7d9;
                    color:#000;
                    border-bottom:2px solid $adultprimarycolour;
                    &:hover {
                      color:$adultprimarycolour;
                      border-bottom:2px solid $adultsecondarycolour;
                    }
                  }
                &.current_page_item {
                  a {
                    color:$adultprimarycolour;
                    border-bottom:2px solid $adultsecondarycolour;
                  }
                }
              }
          }
        }
    }//li
  }//#sidebar-menu
    font-family: $adultbodyfont;
    font-weight: $adultbodyfontweight;
  .currenthover {
    background-image: url($adultsiteicon);
  }
  .newsevents .newsevents-contact i {
    color:$adultprimarycolour;
  }
  .special-underine{
    &:after{
        background: $adultprimarycolour;
    }
  }     
  .heading-two {
      color:$adultprimarycolour;
  }
  .btn {
      background:$adultprimarycolour;
      color: #fff;
      &:hover {
          background: $adultsecondarycolour;
      }
  }
  h1, h2, h3, h4, h5 {
    font-family: $adultheadingsfont;
    font-weight: $adultheadingsfontweight;
    color: $adultprimarycolour;
  }
  p a {
    color: $adultprimarycolour;
  }
  .gradline {
    background-image: linear-gradient(to right, $adultprimarycolour, $adultsecondarycolour);
  } 
  .newseventtext {
    background-color: $adultprimarycolour;
  }
  header {
    #searchform {
      button {
        background-color: $adultprimarycolour;
        &:hover {
          background-color: $adultsecondarycolour;
        }
      }
    }
    #top_buttons{
      li {
        &:hover {
          background-color: $adultprimarycolour;
        }
        .dropdown-menu {
          margin-top:0;
          background-color: $adultprimarycolour;
          border: none;
          li {
            background-color: transparent;
            margin: 0;
            a {
              &:hover {
                background-color: $adultsecondarycolour;
              }
            }
            
          }
        }

      }
    }
  }
  .featured-top-image{
    h1 {
      background: $adultprimarycolour;
      color: #fff;
    }
  }
  #mainnav {
      border-top-color: $adultprimarycolour;
      li {
        &:last-child {
          a {
            background-color: $adultprimarycolour;
            color: #ffffff;
            &:hover {
              background-color: $adultsecondarycolour;
              color: #fff;
            }
          }
        }
        a {
          color: $adultprimarycolour;
          &:hover {
            color: $adultsecondarycolour;
          }
          &.dropdown-item {
            color: $adultprimarycolour;
            background-color: #fff;
            &:hover {
              color: $adultsecondarycolour;
              background-color: #fff;
            }
          }
        }
      }
  }
  .cookieconsent_msg{
    background:$adultprimarycolour;
    border-top: 2px solid darken($adultprimarycolour,10%);
    .allow-button {
      background-color: $adultsecondarycolour;
      border-color: $adultsecondarycolour;
    }
  }
  .log_interest {
    background:$adultsecondarycolour ;
    h2,h3,h4,h5 {
      color: #fff;
    }
    a {
      color: #fff;
      font-weight: bolder;
    }
    .wpcf7-submit, .upload {
      background-color: $adultprimarycolour;
      &:hover {
        background-color: darken($adultprimarycolour,10%);
      }
    }
  }
  footer {
    background-color: $adultfooter_bg_colour;
    font-family: $adultheadingsfont;
    font-weight: $adultheadingsfontweight;
    background-image: url($adultfooterbg_img);
    i {
      color: $adultfooter_icon_colour;
    }
    h5 {
      color: $adultfooter_title_colour;
      font-family: $adultheadingsfont;
      font-weight: $adultheadingsfontweight;
    }
  }
  .footer-base {
    background: $adultprimarycolour;
  }
  .footer-line {
    background-image: linear-gradient(to right, $adultfooter_icon_colour,#fff);
  }

}
    .course{
      margin-bottom: 15px;
      a {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .course-thumbnail{
        height: 260px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

      }
      .course-name {
        background: $adultprimarycolour;
        padding: 10px 22px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: $normal-weight;
        flex-grow: 1;
      }
      .course-name:hover {
        background: $adultsecondarycolour;
      }
    }
    .contact-box{
      border: 1px solid grey;
      padding: 20px;

      p{
        margin-bottom: 0;
      }
      strong{
        color: $adultprimarycolour;
        font-weight: $normal-weight;
      }
      .email{
        background: $adultsecondarycolour;
        padding: 10px 30px;
        margin: 0 10px;
        color: #ffffff;
        a{
          color: #ffffff;
        }
      }
      .number{
        background: $adultprimarycolour;
        padding: 10px 30px;
        margin: 0 10px;
        color: #ffffff;
      }
      

    }



  
