#adult_ed {
  header {
    #searchform {
      button {
        background-color: $adultprimarycolour;
        &:hover {
          background-color: $adultsecondarycolour;
        }
      }
    }
    #top_buttons{
      li {
        &:hover {
          background-color: $adultprimarycolour;
        }
      }
    }
  }
  .featured-top-image{
    h1 {
      background: $adultprimarycolour;
    }
  }
  .navbar {
    ul {
      border-top-color: $adultprimarycolour;
      li {
        a {
          color: $adultprimarycolour;
       }
       &:last-child {
        a {
          background-color: $adultprimarycolour;
          color: #ffffff;
          &:hover {
            background-color: $adultsecondarycolour;
          }
        }
      }
    }
    }
  }

}



.adult-learning-page{
    font-family: $adultbodyfont;
    font-weight: $adultbodyfontweight;
    h1, h2, h3, h4 {
      font-family: $adultheadingsfont;
      font-weight: $adultheadingsfontweight;
    }
    .course{
      margin-bottom: 15px;

      .course-thumbnail{
        height: 260px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

      }
      .course-name {
      background: $adultprimarycolour;
      padding: 10px 22px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: $normal-weight;
      }
      .course-name:hover {
        background: $adultsecondarycolour;
      }
    }
    .contact-box{
      border: 1px solid grey;
      padding: 20px;

      p{
        margin-bottom: 0;
      }
      strong{
        color: $adultprimarycolour;
        font-weight: $normal-weight;
      }
      .email{
        background: $adultsecondarycolour;
        padding: 10px 30px;
        margin: 0 10px;
        color: #ffffff;
        a{
          color: #ffffff;
        }
      }
      .number{
        background: $adultprimarycolour;
        padding: 10px 30px;
        margin: 0 10px;
        color: #ffffff;
      }

    }

    #sidebar-menu {
        li {
            background: $adultprimarycolour;
            &:hover {
                background: $adultsecondarycolour;
                transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
            }

            a {
                background:$adultprimarycolour;
                &:hover {
                    background: $adultsecondarycolour;
                    transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
            &.current_page_item {
                background: $adultsecondarycolour;
                transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
                a {
                    background: $adultsecondarycolour;
                    transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }

            .sub-menu {
                display:none;
                transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
                li {
                    display:none;
                    transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
            &:hover {
                .sub-menu {
                    display:block;
                    padding:0;
                    width:100%;
                    transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
                    li {
                        display:block;
                        width:100%;
                        transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
                        a {
                            margin:0;
                            background:#d6d7d9;
                            color:#000;
                            border-bottom:2px solid $adultprimarycolour;
                            &:hover {
                                color:$adultprimarycolour;
                                border-bottom:2px solid $adultsecondarycolour;
                            }
                        }
                        &.current_page_item {
                            a {
                                color:$adultprimarycolour;
                                border-bottom:2px solid $adultsecondarycolour;
                            }
                        }
                    }
                }
            }
        }

    }

    .heading-two {
        color:$adultprimarycolour;
    }
    .gradline {
        background-image: linear-gradient(to right, $adultprimarycolour, $adultsecondarycolour);
    }

    .btn {
        background:$adultprimarycolour;
        &:hover {
            background: $adultsecondarycolour;
        }
    }

}
