.contact-page{
    .contact-details{
      padding:35px 12px 0 12px;
    }
    h5{
      color: $primarycolour;
      padding-top: 10px;
    }
    a{
      color: $darkgrey;
    }
    em{
      color: $primarycolour;
      font-weight: $normal-weight;
        }
    .fab{
      font-size: 20px;
      padding-top: 6px;
      padding-right: 16px;
      color: $primarycolour;
    }
    .socials{
      padding-top: 10px;
    }
    label {
        margin-bottom: 0;
    }
    input[type='submit'] {
      border: none;
      float: right;
      background: $primarycolour;
      padding: 10px 40px;
      color: #ffffff;
    }
    .map-contact{
      height: 366px;
      margin-top: 47px;
      border-top: 8px solid $primarycolour;
    }

}
