.contact-page{
    .contact-details{
      padding:35px 12px 0 12px;
    }
    h5{
      color: $primarycolour;
      padding-top: 10px;
    }
    a{
      color: $darkgrey;
    }
    em{
      color: $primarycolour;
      font-weight: $normal-weight;
    }
    .fab{
      font-size: 25px;
      color: $primarycolour;
      line-height: 30px;
    }
    .socials{
      padding-top: 10px;
    }
    label {
        margin-bottom: 0;
        width: 100%;
    }
    input[type='submit'] {
      border: none;
      float: right;
      background: $primarycolour;
      padding: 10px 40px;
      color: #ffffff;
    }
    #contactmap{
      height: 366px;
      margin-top: 47px;
      border-top: 8px solid $primarycolour;
      z-index: 9;
    }


}
