.course-page{

    .course{
      margin-bottom: 15px;

      .course-thumbnail{
        height: 260px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

      }
      .course-name {
      background: $primarycolour;
      padding: 10px 22px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: $normal-weight;
      }
      .course-name:hover {
        background: $secondarycolour;
      }
    }
    .contact-box{
      border: 1px solid grey;
      padding: 20px;

      p{
        margin-bottom: 0;
      }
      strong{
        color: $primarycolour;
        font-weight: $normal-weight;
      }
      .email{
        background: $secondarycolour;
        padding: 10px 30px;
        margin: 0 10px;
        color: #ffffff;
        a{
          color: #ffffff;
        }
      }
      .number{
        background: $primarycolour;
        padding: 10px 30px;
        margin: 0 10px;
        color: #ffffff;
      }

    }


}
