#gallery {
  
  padding:12px;
  .gal-col {
    padding:0;
    .galleryimagecontianer{
      overflow: hidden;
      border: 4px solid white;
      .galleryimage {
        transition: all 2s ease-in-out;
        min-width: 100%;
          &:hover {
            transform: scale(1.2);
            cursor: pointer;
          }
      }
    }
  }
}
.ekko-lightbox-nav-overlay {
  a {
    color: #fff;
    i {
      margin:5px;
      color: #fff;
      &.right {
          text-align: right;
      }
    }
  }
  
}