#grid_layout {
    .single_icon {
        border: 1px solid $lightgrey;
        height: 100%;
        margin: 10px;
        transition: all .5s ease-in-out;
        h5 {
            color:  $primarycolour;;
        }
        img {
            padding: 5px;
            height: 140px;
            width: auto;
        }
    }
    
}