.meet-the-staff2{
  .staff-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin:10px 0;
  }
  .staff-section {
    border: 1px solid #9c9c9c;
    border-right: 8px solid $secondarycolour;
    vertical-align: top;
    padding:0 12px;
    .allcontent {
      display: none;
    }
    .thumbnail {
      display: block;
      height:255px;
      width: 160px;
      z-index:10;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      vertical-align: top;
      position: absolute;
      margin:-20px;
    }
    .member-block-image-ghost {
      display: block;
      height: 235px;
      width: 160px;
      z-index: 0;
      position: relative;
      float: left;
    }
    .staffdetails {
        padding:20px 8px 0 8px;
    }
    .staffimage {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-height:275px;
        min-height:275px;
    }

    .read-more-button {
      font-weight: $bold-weight;
      cursor: pointer;
    }
    h3 {
        font-size: 1.2rem;
    }
  }
}

.meet-the-staff1{
  table{
        margin-top: 5px;
        p{
          margin-bottom: 0;
        }
        thead {
          border-bottom: none;
        }
        .name_col {
          width: 40%;
        }
        .form {
          width: 27%;
        }
    .table-head {
      background: $primarycolour;
      color:#fff;
      tr {
        border-bottom: none;
        vertical-align: top;
      }
      p{
        text-transform: uppercase;
        color: white;
      }
    }
    tbody{
      td{
        border-bottom: 1px dashed #dee2e6;
        border-top: none;
        vertical-align: center;
      }
      th{
        color: $primarycolour;
        border: none;
      }
    }
  }
}
