.meet-the-staff2{
  .staff-container {
    display: flex;
    justify-content: space-between;
    .staff-section {
      border: 1px solid #9c9c9c;
      border-right: 8px solid $secondarycolour;
      margin-top:20px;
      width:95%;
      vertical-align: top;
      padding:20px 20px 0 20px;
      min-height: 253px;
      .allcontent {
        display: none;
      }
      .thumbnail {
        display: block;
        height:251px;
        width: 160px;
        z-index:10;
        background-repeat: no-repeat;
        vertical-align: top;
        position: absolute;
        margin:-20px;
        background-size: cover;
        background-position: center;
      }
      .member-block-image-ghost {
        display: block;
        height: 235px;
        width: 160px;
        z-index: 0;
        position: relative;
        float: left;
      }
      .read-more-button {
        font-weight: $bold-weight;
        cursor: pointer;
      }
      h3 {
          font-size: 1.2rem;
      }
    }
  }
}

.meet-the-staff1{
  table{
        margin-top: 5px;
        p{
          margin-bottom: 0;
        }
        thead {
          border-bottom: none;
        }
        .name_col {
          width: 40%;
        }
        .form {
          width: 27%;
        }
    .table-head {
      background: $primarycolour;
      color:#fff;
      tr {
        border-bottom: none;
        vertical-align: top;
      }
      p{
        text-transform: uppercase;
        color: white;
      }
    }
    tbody{
      td{
        border-bottom: 1px dashed #dee2e6;
        border-top: none;
        vertical-align: center;
      }
      th{
        color: $primarycolour;
        border: none;
      }
    }
  }
}
