.newsevents, .search{
   @media only screen and (max-width: 768px){
    margin:50px 0;
   } 
    .row-flex {
      display: flex;
      flex-wrap: wrap;
    }
    .newseventcontainer, .newslettercontainer {
        display: none;
        margin-bottom:25px;
        height:100%;
        .newseventimage {
            overflow: hidden;
            .newseventimagecontainer {
                @media only screen and (max-width: 768px) {
                    height:300px;
                }
                height:200px;
                background-size: cover;
                background-position:top;
                transition: all 2s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        .newseventtext {
            padding:22px 30px;
            background-color:$primarycolour;
            height:100%;
            max-height:240px;
            overflow:hidden;
            cursor: pointer;
            transition: all 1s ease;
            &:hover {
                background-color:darken($primarycolour,10);
            }
            h4 {
                margin:0 0 20px;
                a {
                    color:#fff;
                    &:hover {
                        text-decoration:none;
                    }
                }
            }
            p {
                color:#fff;
            }
            .readmore {
                color:#fff;
                &:hover {
                    text-decoration:underline;
                }
            }
        }
    }
   
    .newseventspagination, .newslettercontainer {
        margin:20px 0 50px;
        .page-numbers {
            padding:8px 15px;
            border:1px solid #ccc;
            font-weight:bold;
        }
        .current {
            border:1px solid $primarycolour;
            background-color:$primarycolour;
            color:#fff;
        }
    }
    .newslettercontainer .newseventtext {
        a{
            font-size: 1rem;
        }
        h4 {
            margin-bottom: 10px;
        }
    }
    .ceo-right-header{
      color: $primarycolour;
      font-size:1em;
      margin:2em 0 1em 0;

      strong{
        font-size: 400;
      }
    }

    .socialcontainer {
        width:100%;
        float:left;
        padding:0 12px;
        margin-bottom:30px;
    }
    .social-share {
    	height: 30px;
    	background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    	transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    .social-share a {
        height: 100%;
        width: 100%;
        display: block;
    }

    #twitter {
    	background-color: #F2AD0E;
    	background-image: url(img/twitter-header.png);
    	background-size: 20px;
    }
    #facebook {
    	background-color: #79A12D;
    	background-image: url(img/facebook-header.png);
    	background-size: 10px;
    }
    #linkedin {
    	background-color: #6563AE;
    	background-image: url(img/linkedin-header.png);
    	background-size: 17px;
    }

    #twitter:hover, #facebook:hover, #linkedin:hover {
    	background-color: #23A8E0;
    }

    .newsevents-contact{
      display: block;
      padding:0 0 0 2em;
      background-repeat: no-repeat!important;
      background-position: 0% 0.1em!important;
      background-size: 1em auto!important;
      a{
        color: inherit;
        &:hover{color: $primarycolour;}
      }
    }
    .newsevents-phone {
        background: url('img/call-header.png');
    }
    .newsevents-email {
        background: url('img/email-header.png');
    }
    .newsevents-address {
        background: url('img/footer-address-icon.png');
    }

    .special-underine{
      position: relative;

      &:after{
          display: block;
          height:2px;
          width:60px;
          background: $primarycolour;
          content: '';
          position: absolute;
          top:100%;
          left:0;
          margin-top:4px;
      }
    }
}
