.page-template-vacancies{
  .log_interest {
    background:$secondarycolour;
    padding:20px;
    h3 {
      text-transform: uppercase;
      font-weight: $light-weight;
      color:#fff;
    }
    p {
      color:#fff;
      a {
        color:#fff;
        font-weight: bolder;
      }
    }
    a {
      color:#fff;
      font-weight: bolder;
    }
    input {
      margin-top: 5px;
    }
    .wpcf7-response-output {
      text-align: center;
      background: white;
    }
    .wpcf7-submit {
      @extend .btn;
      color:#fff;
      transition: all 1s ease;
      &:hover {
        background-color: darken($primarycolour,10%);
      }
    }
    .cv_upload {
      display: flex;
      justify-content: space-between;
      height: 50px;
      .upload {
        width: 40px;
        height: 40px;
        background-color: $primarycolour;
        color: #fff;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        @extend %fa-icon;
        @extend .fas;
        input[type="file"] {
          position: relative;
          z-index: 999;
          opacity: 0;
          width: 40px;
          height: 40px;
        }
        &:after {
          content: fa-content($fa-var-paperclip);
          top:-49px;
          position: relative;
          z-index: 1;
        }
        &:hover {
          background-color: darken($primarycolour,10%);
        }
      }
    }
  }
  
  .current_vacancies {
    h3 {
      color: $primarycolour;
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1rem;
    }
    .closingdate {

    }
    .vacancy {
      border-bottom: 1px dashed $medium-grey;
      padding-bottom:20px;
      margin-bottom: 20px;
    }
    .btn {
      margin-bottom: 20px;
      color: white;
    }
    
  }

}
