
body.school_id_al {

    // Hide repeated anglian learning logo
    header {
        .al-logo {
            display: none;
        }
        .main-head-elements {
            justify-content: space-between;
        }
    }
    .front-page-header {
        .intro {
            h1 {
                font-size: 3rem!important;
            }
        }
    }
    .schooliconholder {
        margin-top: 0px;
    }

    &.home {
        .newsitem:nth-of-type(2) {
            .al-border-bottom {
                border-bottom-color: $al_blue;
            }
        }
        .schooliconholder {
            .schoolicon {
                width: 200px;
            }
        }
    }

    &.blog, &.category-academy-news {
    
        .newseventcontainer {
            .newseventtext {
                background-color: $al_purple;
            }
            &:nth-of-type(2) {
                .newseventtext {
                    background-color: $al_blue;
                }
            }
            &:nth-of-type(3) {
                .newseventtext {
                    background-color: $al_green;
                }
            }
            &:nth-of-type(4) {
                .newseventtext {
                    background-color: $al_orange;
                }
            }
            &:nth-of-type(6) {
                .newseventtext {
                    background-color: $al_blue;
                }
            }
            &:nth-of-type(7) {
                .newseventtext {
                    background-color: $al_green;
                }
            }
            &:nth-of-type(8) {
                .newseventtext {
                    background-color: $al_orange;
                }
            }
        }
    }
}