#academy-single {
    .top-details {
        background: $lightgrey;
        .logo {
            background-color: #fff;
            border: 2px solid $lightgrey;
            img {
                width: 80%;
            }
        }
        .h3 {
            font-size: 1rem;
            font-weight: 500;
        }
        .back_acad {
            color: $darkgrey;
        }
    }
    .head_details {
        background-color: $lightgrey;
    }
    .acf-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .acf-gallery-item {
            width: 190px; /* Set the desired width */
            height: 150px; /* Set the desired height */
            overflow: hidden; /* Hide overflow to maintain size */
            margin: 0 0 10px 0;
            @media only screen and (max-width: 768px) {
                width: 47%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        
    }
}

.modal-backdrop {
    display: none;/* Ensure the backdrop is below the modal */
}