body{
    &.admin-bar {
        .navbar {
            &.fixed-top {
                top:30px;
            }
        }
    }
    overflow: overlay;
   //image alignment fix
   img {
    &.alignleft {
      display: block;
      float: left;
      padding: 10px 10px 5px 0;
    }
    &.alignright {
     display: block;
     float: right;
     padding: 10px 0 5px 10px;
    }
    &.aligncenter {
      display: block;
      padding:10px;
      margin: 0 auto;
    }
   }
   
  .spinner-grow {
    position:absolute;
    top:45vh;
    left:50vw;
  }
  .wp-caption  {
    max-width: 100%;
  }
  .line {
    height: 8px;
    width: 100%;
    background: linear-gradient(90deg, #615E9D, #2DA4DC, #7BA041, #F9BC4E, #615E9D, #2DA4DC, #7BA041, #F9BC4E);
    animation: gradanimate 10s linear infinite;
    background-size: 200% 100%;
   }
  .al-border-bottom {
        border-bottom: 7px solid $bordercolour;
  }
  .gradline, .gradline-secondwhite  {
    height:2px;
    width: 100%;
    background-image: linear-gradient(to right, $primarycolour , $secondarycolour);
    margin: 10px 0;
  }
  .gradline-secondwhite {
    background-image: linear-gradient(to right, $secondarycolour , white);
  }
  &.home {
    .tabcontent {
      border-top:solid 90px white;
      position: relative;
      height: 380px;
      @media screen and (max-width:760px) {
        height: unset;
      }
     .container {
        &.active {
          animation:  slideup-tabcontent 0.75s linear 1;
        }
        &:not(.active){
          display: none;
        }
        h2 {
          width: 100%;
          font-weight: $bold-weight;
          margin-bottom: 10px;
        }
        .content {
          max-width: 72%;
        }
        .tab-text {
          margin:40px 0;
        }
        .image {
          max-width: 28%;
          margin-right: 20px;
        }
     }
    }
    .schoolicon {
      width: 150px;
      position: relative;
      margin-top:-30px;
      padding-bottom:20px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .latestnews {
      margin: 75px 0;
      .col-12 {
        .newsitem{
          @media all and (max-width: 560px) {
            width: 100%;
          }
        }
      }
      .col-8 {
        .newsitem{
          width: 48%;
        }
      }
      .post-date {
        font-size: 1rem;
        margin:15px 0;
        color: $darkgrey;
        opacity: 0.7;
      }
      .newsitem{
        h3 {
          text-transform: uppercase;
          margin:10px 0;
        }
      }
      .thumbnail {
        width: 100%;
        height: 250px;
        background-size: cover;
        display: block;
        margin: 35px 0 20px 0;
        cursor: pointer;
      }
      .newsletter {
        .thumbnail {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .twittercontainer {
        @media all and (max-width: 770px) {
          width:100%;
        }
      }

      .twitter-box {
        
        border: 1px solid $lightgrey;
        margin: 35px 0 0 0;
        background-color: white;
        .btn {
          margin:5px 0 40px 20px;
        }
        .twitter-header {
          background-color: $secondarycolour;
          line-height: 3.5rem;
          font-weight: $bold-weight;
          display: flex;
          justify-content: space-between;
          padding:0 20px;
          color: #fff;
          &:after {
            @extend %fa-icon;
            @extend .fab;
            content: fa-content($fa-var-twitter);
            color: #fff;
            font-size: 1.5rem;
            line-height: 3.5rem;
          }
          a {
            color:#fff;
            width:89%;
          }
        }
        .slick-controls{
          width: 100%;
          text-align: right;
          padding: 10px 20px 0 0;
          button {
            border: none;
            background-color: transparent;
            padding-top: 7px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
            font-size: 1.2rem;
            color: $lightgrey;
            font-weight: $light-weight;
            &:focus {
              outline: none;
            }
            &:hover {
              color:$primarycolour;
            }
          }
        }
        .slick-twitter {
          padding:0px 20px 20px 20px;
          width: 100%;
          margin-top:-47px;
          .slick-list {
            width: 100%;
            img {
              width: 100%;
              padding-bottom: 15px;
            }
          }
        }
      }
    }
    .video-section {
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: left -20% top 5px;
      .container {
        .siteicon {
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          margin-left:-400px;
        }
        .row {
          vertical-align: middle;
          color: #fff;
          margin-left: 400px;
          padding:60px 0;
          h2 {
            color: #fff;
          }
          iframe {
            max-width:100%;
            @media all and (max-width: 770px) {
              height:290px !important;
            }
          }
          p {
            margin-top:20px;
          }
        }
      }
    }
    .information-section {
      padding:75px 0;
      .information-panel-image {
        border-bottom: 4px solid $primarycolour;
        margin-top:20px;
      }
    }
  }
  .page-content{
    .wp-caption-text {
      background-color:#dee2e671;
      color: $darkgrey;
      font-size: 0.8rem;
      padding:5px 10px;
      margin-top:3px
    }
    .wp-caption {
      img {
        width: 100%;
      }
    }
    .text-section{
        margin-bottom: 70px;
        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
    }
    img{
        max-width: 100%;
        height: auto;
    }
  }
  table{
    .table-head {
      background: $lightgrey;
    }
    tbody{
      td, th {
        border-top: 1px dashed #dee2e6 !important;
      }
      th{
        color: $primarycolour;
      }
    }
  }
}


.about-us-image {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  height: 300px;
  background-position: center;
  margin-bottom: 60px;
}

.course_details {
  word-wrap: normal;
  .table_head {
    background: $lightgrey;
    display: block;
    padding:10px
  }
  .btn {
    color: #fff;
  }
  span {
    display: block;
    padding:10px;
  }
}

.menu-item:hover .dropdown-menu {
  display: block;
  opacity: 1;
}

.informationitem {
    img {
        border-bottom:8px solid $primarycolour;
    }
}

.downloadtitlecontainer {
    margin:0 0 15px;
    .downloadstitle {
        color:$primarycolour;
    }
}
.downloadlist .col {
  flex: unset;
}
.downloadcontainer {
    padding: 0px 25px 0px 20px;
    border: 1px solid grey;
    transition: all 1s ease;
    display: flex;
    align-items: center;
    .fas {
      color:$secondarycolour;
      margin-right:15px;
      font-size:30px;
      transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
      padding: 25px 0;
    }
    p {
        text-transform:none;
        color:grey;
        font-weight:normal;
        margin-bottom:0;
        transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
        line-height: 20px;
    }
    &:hover {
        background-color:$primarycolour;
        border-color: $primarycolour;
        .fas {
          color:#fff;
        }
        p {
            color:#fff;
            transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
            .fas {
                color:#fff;
                transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }
}

@media all and (max-width: 812px) {
    .newsholder {
        margin-bottom:60px;
    }
}
