.partners {
  display: none;
}
.partner-slider a{
  height: 140px;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  margin:15px;
  transition:all 0.15s ease-out;
  &.anglianlearning {
    background-size: 120%;
  }
  &:hover {
    background-size: 100%;
  }
}

footer {
  background-color: $footerbgcolour;
  background-image: url($footerbgimage);
  background-repeat: no-repeat;
  background-position: -150px top;
  background-size: 90%;
  position: fixed;
  color: white;
  width: 100%;
  bottom: 0;
  left: 0;
  line-height: $bodylineheight;
  font-weight: $bodyfontweight;
  z-index:1;
  display: block;
  .inner-footer {
    padding:50px 0;
    display: flex;
    align-items: flex-end;
    flex-wrap:wrap;
    width: 100%;
    @media all and (max-width: 1140px) {
      font-size: 0.9rem;
      padding: 20px 0;
    }
    @media all and (max-width: 950px) {
      font-size: 0.8rem;
      padding: 0px;
    }
  }
  #sb_instagram {
    #sbi_images {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
      .sbi_item {
        width: 30%!important;
        @media all and (max-width: 992px) {
          max-height: 95px;
        }
      }
    }
    #sbi_load {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  }
  h5{
    font-size: 20px;
    color: $footer_title_colour;
    text-transform: uppercase;
    font-weight: $headingsfontweight;
    @media all and (max-width: 992px) {
      margin-top: 20px;
    }
  }
  .footer-line {
    margin-bottom: 20px;
    background-image: linear-gradient(to right, $footer_icon_colour , #fff);
    height: 2px;
  }
  a {
    color: #fff;
    &:hover {
      opacity: 0.9;
      color: #fff;
    }
    i {
      transition: .2s all linear;
       &:hover {
          transform: scale(0.9);
          cursor: pointer;
        }
      }
  }
  i {
    color: $footer_icon_colour;
    font-size: 1.25rem;
    width: auto;
    padding: 15px 15px 0 0;
    a {
      font-size: 1.25rem;
    }
  }
 .contact-info {
    .row {
      display: flex;
      text-align: left;
      justify-content: flex-start;
      padding-bottom: 15px;
      margin-left:0;
      * {
        width: auto;
        padding: 0;
      }
      i {
        text-align: center;
        min-width: 35px;
      }
    }
  }
  .footer-base {
    background: $primarycolour;
    font-size: 0.9rem;
    .col {
      padding:27px 0;
    }
    .text-right {
      text-align: right;
    }
  }
  #map {
      min-height:250px;
  }
}

.footer-buffer-one {
  height: $footerheight;
}

.partners {
  .slick-controls-lower {
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-top: -149px;
    .slick-arrow {
        height: 150px;
        border: none;
        background: transparent;
    }
  .next-slide-lower {
    position: relative;
    left:1px;
    right:0px;
    text-align: right;
    &:before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-chevron-circle-right);
        font-size: 20px;
        color: $darkgrey;
        position: relative;
        left: 40px;
        opacity: 0.75;
    }
  }
  .prev-slide-lower {
    text-align: left;
    &:before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-chevron-circle-left);
        font-size: 20px;
        color: $darkgrey;
        text-align: left;
        margin-left: -40px;
        opacity: 0.75;
    }
  }
}
  .carousel-slide {
    .slick-list {
      height: unset;
        width: 100%;
    }
    img {
      height: 100%;
      max-width: 100%;
      object-fit: none;
    }
  }
}


@media all and (max-width: 812px) {
    .footer-buffer-one {
        display:none;
    }
    footer {
        height: auto;
        position:relative;
    }
    .contact-info {
        margin:45px 0;
    }
}


.cookieconsent_msg{
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 85px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  background: $primarycolour;
  z-index: 120;
  cursor: pointer;
  border-radius: 0px;
  align-items: center;
  justify-content: center;
  border-top: 2px solid darken($primarycolour,10%);
  a {
    color: #fff;
    font-weight: bolder;
  }
  .allow-button {
    height: 40px;
    width: 104px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border: 1px solid $secondarycolour;
    background-color: $secondarycolour;
  }
}

