@mixin placeholder-color($color) {
  font-weight: 600;
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $color;
    }
    &::placeholder {
      color: $color;
    }
  }

input[type='email'], input[type='text'], input[type="tel"], input[type='textarea'], textarea {
    color:$medium-grey;
    border: 1px solid transparent;
    @include placeholder-color($darkgrey);
    font-size: 1em;
    background-color: lighten($lightgrey,10%);
    font-weight: $light-weight;
    outline: none;
    width: 100%;
    padding: 8px 15px;
    outline: none;
    box-sizing: border-box;
}

header {
  input[type='text'] {
    background-color: white;
    border: 1px solid $lightgrey;
    font-size: .75rem;
    @include placeholder-color($darkgrey);
  }
}
select.goog-te-combo {
    border:1px solid $lightgrey;
    text-transform: uppercase;
    margin: 0 !important;
    color:$darkgrey;
    height: 3.25em;
    font-size: .70rem;
    text-indent: 10px;
    font-weight: 600;
    position: relative;
    left: -2px;
  }
  .skiptranslate {
    text-align: right;
  }
  .goog-logo-link {
    display: none;
  }
  .goog-te-gadget{
    color: transparent !important;
  }

textarea:focus, input:focus, select:focus{
    outline: none!important;
}
.form-control:focus {
    color: $darkgrey;
    background-color: #fff;
    border-color: $primarycolour;
    outline: 0;
    box-shadow: none;
    box-sizing: border-box;
}
