#site-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 99999;
    transition: opacity 0.5s ease;
}
#site-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}
header {
  animation: fadeIn 2s forwards 1;
  margin:0;
  z-index:999999;
  position:relative;
  @media all and (max-width: 770px) {
    header {
      animation:none;
      position:fixed;
      background-color:#fff;
      width:80%;
      top:0;
      padding:10px 0 10px 10px;
      height:90px;
    }
  }
  img#logo {
    max-height: 120px;
  }
  .al-logo {
    img {
      padding-bottom:10px;
    }
  }
  input[type='text'] {
    font-weight: $normal-weight;
  }
}
.front-page-header {
  height: $headerheight;
  @media (min-width: 1500px) {
    height: 500px;
  }
  background-color: $primarycolour;
  width: 100%;
  overflow: hidden;
  @media all and (max-width: 420px) {
    margin-top:90px !important;
  }
  @media all and (max-width: 330px) {
    margin-top:90px !important;
    .homepage-tabs-nav {
      margin-top:-43px;
      .col {
        width:100px;
        font-size:10px;
        padding:10px;
      }
    }
  }

  
  a {
    i {
      color: $header_social_icon_colour;
    }
  }
  .slick-list {
    height: $headerheight+2;
    margin-top: -($headerheight+1);
    float: right;
    width: 55%;
    @media (min-width: 790px) {
      width: 70%;
    }
    @media (min-width: 1000px) {
      width: 73%;
    }
    @media (min-width: 1500px) {
      width: 63%;
      height: 500px;
    }
    @media (min-width: 1835px) {
      width: 60%;
      max-width: 1650px;
    }
    transition:all 1s ease;
    .slick-controls {
      position: relative;
      top:30px;
      display: inline-block;
      width: 100%;
      text-align: right;
    }
    .image-slider {
      &:focus {
        outline: none;
      }
      //display: inline-block;
       //position: relative;
       height: $headerheight+2;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
        svg {
          height: $headerheight+2;
          width: auto;
          .st0 {
            fill:$primarycolour;
          }
        }
      }
    }
    
  .left {
    width: 30%;
    .siteicon {
      background-image: url($siteicon);
      background-repeat: no-repeat;
      background-size: contain;
      height: $headerheight;
      margin-left: -400px;
      display: inline-block;
      .content_left {
        color: #fff;
        display: inline-block;
        vertical-align: top;
        margin-left: 400px;
        @media (max-width: 991px) {
          margin-left: 370px;
        }
          display: inline-block;
        .social {
          padding:30px 0px 15px 0px;
          a {
            color:$header_social_icon_colour;
            font-size: 1.9rem;
            padding:0 15px 0 0;
            transition: all .5 ease;
            text-decoration: none;
            &:hover {
              color: darken($header_social_icon_colour,10%);
              text-decoration: none;
            }
          }
        }  //social
        p {
          margin: 0;
        }
        .intro {
          margin-top:20px;
          font-family: $headingsfont;
          font-size: 2rem;
          h1 {
            font-size: 2.8rem;
          }
            @media (min-width: 790px) {
              width: 71%;
              font-size: 1.5rem;
              h1 {
                font-size: 2.2rem;
              }
            }

            @media (min-width: 1500px) {
              width: 90%;
              h1 {
                font-size: 2.8rem;
              }
            }
            @media (min-width: 1835px) {
              h1 {
                font-size:2.8rem;
              }
            }
         
        } //intro
      } //content_left
   } //siteicon
  } //left
} //font-page-header
.homepage-tabs-nav {
  width: 100%;
  margin-top:-75px;
  ul.row {
    list-style: none;
  }
  @media all and (max-width: 770px) {
    margin-top:-49px;
        z-index:999999 !important;
        .row {
            margin:0 auto;
            .tab_button {
              padding:10px 15px;
              font-size:0.9rem;
          }
        }
    }
    @media all and (max-width: 470px) {
      .row .tab_button {
         font-size: 0.8rem;
         padding: 10px;
       }
     }
    @media all and (max-width: 390px) {
      .row .tab_button {
         font-size: 0.6rem;
         padding: 10px;
       }
     }
    .tabcontent {
        height:auto !important;
        padding:50px 0 0 0 !important;
        border-top:0 !important;
        .container {
            .row {
                width:100%;
                --bs-gutter-x:0 !important;
            }
            .image {
                max-width:100% !important;
                text-align:center;
                margin:0 0 40px 0 !important;
                img {
                    max-width:70%;
                    height:auto;
                }
            }
            .content {
                max-width:100% !important;
                text-align:center;
                h2 {
                    text-align:center;
                }
                .tab-text {
                    text-align:left;
                }
            }
        }
  }
  #slider_nav{
    padding-top: 25px;
    ul {
      position: relative;
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: flex-end;
    }
    li {
      margin:0 5px;
      button {
        border:none;
        background: $primarycolour;
        width: 30px;
        height: 8px;
        cursor: pointer;
      }
      &.slick-active {
        button {
          background: $secondarycolour;
        }
      }
    }
  }
  .tab_button {
    background: $secondarycolour;
    border-top: 8px solid $secondarycolour;
    margin-right: 5px;
    cursor: pointer;
    padding:15px 30px;
    border-radius: 0px;
    color: #fff;
    font-size: 1.0em;
    font-weight: $bold-weight;
    opacity: 0;
    position: relative;
    max-width: fit-content;
    box-shadow: 12px 17px 16px -3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 12px 17px 16px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 12px 17px 16px -3px rgba(0,0,0,0.5);
    @media (max-width: 790px) {
      padding:15px;
    }
    @media screen and (max-width: 1110px) {
      font-size:1rem;
      padding:15px 20px;
    }
    &:nth-child(1) {
      animation: slideup-headertabs 1s forwards 1;
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation: slideup-headertabs 1s forwards 1;
      animation-delay: 0.5s;
    }
    &:nth-child(3) {
      animation: slideup-headertabs 1s forwards 1;
      animation-delay: 1s;
    }
    &:nth-child(4) {
      animation: slideup-headertabs 1s forwards 1;
      animation-delay: 1.5s;
    }
    &.active {
      background: #fff;
      color: $primarycolour;
    }
    &:hover:not(.active){
      background:#fff;
      color: $primarycolour;
    }

  }
}
.featured-top-image{
  width: 100%;
  margin:0px 0 60px 0;
  background-size: cover;
  background-position: center;
  .main-heading {
    h1{
      background: $primarycolour;
      padding: 10px 20px;
      margin: 0;
      color: #fff;
      text-align: center;
      display: inline-block;
      margin: 0 auto;
      width: auto;
    }
  }
  &.bottomleft {
    padding:300px 0 0 0;
    .main-heading h1 {
      margin: 0 0 0 10px;
    }
  }
  &.center {
    padding:150px 0;
  }
}
