//Bassingbourn Village College
.school_id_bvc {
    .bvc_covid {
        thead {
            font-size: 0.75rem;
        }
        h3 {
            font-size: 0.9rem;
            margin:0
        }
        .totals {
            background: $lightgrey;
            vertical-align: middle;
        }
        td {
            max-width: 10%;
            width: 10%;
            border-right: 0.05rem dashed #ccc!important;
        }
    }
} 
//Sawston Village College
.school_id_svc {
    .ks_table_svc {
        border-color: #fff!important;
      thead {
          td{
            writing-mode: vertical-rl;
            min-height: 150px;
            text-align: right!important;
            padding:10px 0;
            background-color:$lightgrey;
          }
        }
    }

}