body {
  #page {
    overflow: hidden;
  }
  .container-white, .container-white-laurel {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .container-white-laurel {
    background-image: url('img/laurel.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    transition: all 0.5s linear;
  }
  //Layers
  .front-page-header, .partners .carousel-slide {
    z-index: -1;
    position: relative;
  }
  footer {
    z-index: 0;
    position: relative;
  }
  .container-white-laurel, .container-white, .slick-twitter, .slick-slide {
    z-index: 1;
    position: relative;
  }
  .schoolicon, .twitter-box .slick-controls, .main-navigation-wrapper {
    z-index: 2;
    position: relative;
  }
  .homepage-tabs-nav, .home .tabcontent {
    z-index: 4;
  }
  .home .tabcontent {
    z-index: 50;
  }
  .currenthover {
    z-index: 1030;
  }

}
html,body {
  transition: opacity 0.25s ease-out;
  height: 100%;
  width: 100%;
}
