
header {
  #top_buttons{
    width:100%;
    margin:0;
    word-wrap: normal;
    .col-12 {
      padding: 0;
    }
    nav {
      padding:0;
    }
    ul:first-child {
      display: flex;
      list-style: none;
      font-size: 0.75rem;
      padding-left: 0px;
      flex-wrap: wrap;
      i {
        display: none;
      }
      li {
        margin:10px 0px 0px 10px;
        background-color: $lightgrey;
        text-transform: uppercase;
        word-wrap: normal;
        &.hasdropdown{ 
          display: flex;
          justify-content:flex-end;
          align-items: middle;
          a{
            padding:8px 3px 8px 16px;
          }
        }
        i {
          display: inline-block;
          font-size: 1rem;
          position: relative;
          padding: 0 10px 0 0;
          top:5px;
          color: $medium-grey;
        }
        &:hover {
          background-color: $primarycolour;
          .dropdown-menu {
            transition: all 0.5s ease-out!important;
            opacity: 1;
          }
          a,i {
            color: #fff;
          }
          .dropdown-menu {
            transition: opacity 1s ease-in-out;
          }
        }
        a {
          color: $darkgrey;
          display: inline-block;
          padding:8px 15px;
        }
      }
    }
    ul.dropdown-menu {
      transition: all 0.5s ease-out!important;
      opacity: 0;
      background-color:$primarycolour;
      border-radius: 0px;
      border: none;
      padding: 0;
      font-size: 0.85rem;
      border-left: 1px solid darken($primarycolour,3%);
      border-bottom: 1px solid darken($primarycolour,3%);
      margin-top:34px;
      .double-sub {
        display: flex;
        .submenu-left {
          text-transform: none;
          margin: 20px 0 20px 20px;
          border-right: 2px solid darken($primarycolour,3%);
          padding-right: 20px;
          color: white;
          min-width: 150px;
          max-width: 400px;
          img {
            max-width: 100%;
            height: auto;
          }
          .btn {
            outline: 1px solid white;
            padding: 8px 16px;
            font-size: 0.85rem;
          }
        }
        .submenu-right {
          margin: 20px 0 20px 0;
        }
        li {
          background-color:$primarycolour;
          text-transform: none;
          transition: all 1s ease-in-out;
          margin:0;
          a {
            color: white;
            display: inline-block;
            padding:10px 20px;
            min-width: 150px;
            max-width: 250px;
          }
          &:hover {
            background-color: darken($primarycolour,10%);
            cursor: pointer;
          }
        }        
      }
    }
  }
}

#mainnav ul{
  width: 100%;
  font-weight: 500;
  border-top-width: 2px;
  border-top: 2px solid $primarycolour,;
  border-radius: 0;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: -30px;
  li {
    margin-top:10px;
    position: relative;
    display: block;
    line-height: 1.6em;
    a {
      color: $primarycolour;
      padding: 10px 0 0 0;
      text-transform: uppercase;
      &:hover {
        color: darken($primarycolour,10%);
      }
    }
    &:last-child {
      a{
        color: white;
        background-color: $primarycolour;
        padding: 10px 20px;
        text-transform: uppercase;
        &:hover {
          background-color: $secondarycolour;
        }
      }
    }
    .dropdown-menu {
        width:25vw;
        top:40px;
        left:0;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        position: absolute;
        z-index: 1050;
        padding: 0;
        margin:0;
        @media all and (max-width: 992px) {
          position: relative;
        }

        li{
          display: block;
          width:50%;
          margin-top:0;
          @media all and (max-width: 992px) {
            display: inline-block;
            width: 45%;
          }
          a {
            font-size:0.9em;
            line-height:120%;
            padding:1em 1em;
            margin:0 0 0 0;
            text-transform:none;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0)!important;
            white-space: unset;
            &:active {
                background-color:$primarycolour;
                color:white;
            }
          }
          &:last-child a {
              background-color:transparent;
              color:$primarycolour;
              &:hover {
                background-color: #e9ecef;
                color: darken($primarycolour,10%);
              }
          }
        }
        
    }
    &:hover{
      .dropdown-menu {
          display:flex;
          @media all and (max-width: 992px) {
            display:block;
          }
      }
  }
  }
  @media all and (max-width: 770px) {
    .navbar {
      width:20%;
      height:90px;
      z-index:3000;
      .container {
          float:right;
          margin-right:20px;
          display:block;
          .navbar-collapse {
              display:block !important;
              .navbar-nav {
                  flex-direction: column !important;
                  li {
                      .dropdown-menu {
                          width:95vw !important;
                          position:relative !important;
                          top:10px !important;
                          a {
                            text-transform: uppercase;
                          }
                      }
                  }
              }
          }
      }
  }
  }
}

#page {
  .sticky-top {
    box-shadow:0 4px 2px -2px rgba(0,0,0,0.2);
  }
}

#sidebar-menu {
  li {
    list-style: none;
    position:relative;
    &.current_page_item {
      a {
        background: $secondarycolour;
      }
    }
    a {
      list-style-type: none;
      padding:12px;
      text-transform: uppercase;
      background: $primarycolour;
      display: block;
      margin: 5px 0;
      transition: all 0.5s linear;
      &:hover {
        background: darken($primarycolour,10);
      }
    }
    .sub-menu {
        display:none;
        transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
        li {
            display:none;
            transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
    .sub-menu {
        display:none;
        transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
        li {
            display:none;
            transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
    &:hover {
        .sub-menu {
            display:block;
            padding:0;
            width:100%;
            transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
            li {
                display:block;
                width:100%;
                transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
                a {
                    margin:0;
                    background:#d6d7d9;
                    color:#000;
                    border-bottom:2px solid $primarycolour;
                    &:hover {
                        color:$primarycolour;
                        border-bottom:2px solid $secondarycolour;
                    }
                }
                &.current_page_item {
                    a {
                        color:$primarycolour;
                        border-bottom:2px solid $secondarycolour;
                    }
                }
            }
        }
    }



  }
}

.currenthover {
  display: none;
  background-image: url($siteicon);
  background-repeat: no-repeat;
  background-size: contain;
  width:36px;
  height:36px;
  top:55px;
  transition: all 0.5s ease;
  position: absolute;
  @media all and (max-width: 770px) {
    display: none;
  }
}

.navbar {
    height:68px;
    background:#fff;
    padding:0 0 12px 0;
    .navbar-nav {
        padding-bottom:30px;
    }
    &.fixed-top {
        z-index:99999999;
        transition: all 1s ease-in;
    }
    .navbar-toggler {
      padding:0;
      border:0;
      .menuicon {
        .navbar-toggler-icon {
          padding-right:20px;
        }
      }
      &.back-button {
        border-left:1px solid $lightgrey;
        margin-left:0px;
        padding-right:0px;
      }
  }
}
.bg-light {
    background-color:#fff !important;
}

#sidebar-menu {
  padding-left: 0;
  .mobilecontain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .showall {
      width: 100%;
      position: relative;
      margin-top:-55px;
      background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      text-align: center;
      padding-top:20px;
      font-size: 30px;
      .sidebarclose {
        transform: rotate(-90deg);
      }
    }
  }
  a{
    color: white;
  }

  .current_page_item {
    background: $secondarycolour;
    cursor: pointer;
    > a {
      color: white;
    }
  }
}


@media all and (max-width: 812px) {
    body {
      padding-top: 50px;
    }
  .navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    right:0;
    width:100%;
    height:50px;
    padding-bottom:0;
  }
  .navbar-toggler {
      padding:0;
      border:0;
  }
}

#adult_ed {
  #mainnav ul {
    border-top-width: 2px;
    border-top: 2px solid $adultprimarycolour,;
    border-radius: 0;
  }
}
#sports {
  #mainnav ul {
    border-top-width: 2px;
    border-top: 2px solid $sportprimarycolour,;
    border-radius: 0;
  }
}
