
@media all and (max-width: 770px) {
    body {
        padding-top:0;
    }
    body .line {
        display:none;
    }

    .searchtopbuttonholder {
        display:none;
    }


    .navbar.fixed-top {
        left:auto;
    }
    .navbar-toggler-icon {
        width:2em;
        height:1.8em;
    }
    body .front-page-header, body .partners .carousel-slide {
        margin-top:0 !important;
    }
    .front-page-header {
        height:auto;
        .left {
            width:100%;
            .siteicon {
                background-image:none !important;
                margin-left:0;
                height:auto;
                padding-bottom:60px;
                width:100%;
                .content_left {
                    margin-left:0;
                    width:100%;
                    .social {
                        text-align:center;
                        a:last-child {
                            padding-right:0;
                        }
                    }
                    .intro {
                        margin-top:10px;
                        text-align:center;
                        width:100%;
                        h1 {
                            font-size:2.2rem;
                        }
                    }
                }
            }
        }
        .slick-list {
            width:100%;
            height:250px;
            margin-top:0;
            float:none;
            .image-slider {
                height:250px;
                svg {
                    display:none;
                }
            }
        }
        .slick-dots {
            display:none !important;
        }
        .header-images-slick-slider {

        }
    }

    .container-white-laurel {
        background:none !important;
    }
    .schooliconholder {
        display:none;
    }
    .video-section {
        iframe {
            height:200px !important;
        }
    }
    .information-section {
        padding:50px 0 !important;
        .informationitem {
            text-align:center;
            margin-bottom:75px;
            h2 {
                text-align:center;
            }
            .information-panel-body-text {
                text-align:left;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    footer {
        .footer-base {
            padding:0 15px;
        }
    }
    .offcanvas-collapse {
        top:50px;
        z-index:999999;
    }
    .featured-top-image {
        margin-bottom:97px;
    }
    .slick-initialized .slick-slide {
        width:34%;
    }
    .newsholder {
        width:100%;
    }
    .twittercontainer {
        width:50%;
    }
    .navbar-expand-md .navbar-toggler {
        display:block;
        float:right;
    }
    .featured-top-image {
        margin-bottom:20px;
        padding:100px 0;
    }
    #sidebar-menu {
        margin-left:-15px;
        margin-right:-15px;
        display:flex;
        flex-flow: wrap;
        li {
            border:1px solid #fff;
            background:$primarycolour;
            font-size:0.85rem;
            flex:0 0 50%;
            max-width:50%;
        }
    }
    .course_details {
        div {
            margin-bottom:20px;
        }
    }
    .slick-controls-lower {
        display:none !important;
    }
    .contact-box {
        width:95vw;
        margin:30px 10px 0 !important;
        .name-position {
            margin-bottom:20px;
        }
        .contact-details {
            justify-content:inherit !important;
            display:block !important;
            p {
                margin:0 0 10px 0;
                float: left;
            }
        }
    }
    .adult-learning-page {
        .contact-box {
            width:95vw;
            margin:30px 10px 0 !important;
            .name-position {
                margin-bottom:20px;
            }
            .contact-details {
                justify-content:inherit !important;
                display:block !important;
                p {
                    margin:0 0 10px 0;
                    float: left;
                }
            }
        }
    }
    .insta-gallery {
        .sbi_item {
            width:50% !important;
            height:150px !important;
        }
    }



    header {
        margin-top:50px;
        z-index:1;
    }

    body.home {
        .tabcontent {
            border-top:solid 20px white;
            .container {
                .content {
                    max-width:100%;
                }
            }
        }
    }

    #mainnav {
        ul {
            li {
                .dropdown-menu {
                    width:90vw;
                }
            }
        }
    }

    .homepage-tabs-nav {
        .tab_button {
            box-shadow: 0px 5px 16px -3px rgb(0 0 0 / 50%);
            -webkit-box-shadow: 0px 5px 16px -3px rgb(0 0 0 / 50%);
            -moz-box-shadow: 0px 5px 16px -3px rgba(0, 0, 0, 0.5);
        }
        .col {
            width: 49%;
            max-width: 49%;
            flex: auto;
            margin-bottom:5px;
        }
        #slider_nav {
            ul {
                justify-content:left;
            }
        }
    }

    .contact-info {
        margin:0;
    }

    .contact-page {
        .contact-details {
            padding:5px 12px 0 12px;
        }
    }
}

@media all and (max-width: 426px) {
    .homepage-tabs-nav {
        .col {
            margin:0 3px 3px 0;
        }
    }
    .contact-info {
        margin:45px 0;
    }
}

@media all and (max-width: 321px) {
    .homepage-tabs-nav {
        .col {
            width: 48%;
            max-width: 48%;
            margin:0 3px 3px 0;
            font-size:0.9em;
        }
    }
}
