.mobileviewtable {
    display:none;
}
.mobilesearch, #mobilesearch, .back-button{
    display:none;
}
.sidebarclose {
    display:none;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

//HEADER SCALING
@media all and (max-width: 992px) {
    .featured-top-image {
        margin-bottom:20px;
        padding:100px 0;
        &.bottomleft {
            padding: 150px 0 0 0;
            @media all and (max-width: 768px) {
                padding: 100px 0 0 0;
            }
            @media all and (max-width: 576px) {
                padding: 75px 0 0 0;
            }
        }
        &.center {
            padding:75px 0 75px 0;
            @media all and (max-width: 768px) {
                padding: 50px 0 50px 0;
            }
            @media all and (max-width: 576px) {
                padding: 37px 0 37px 0;
            }
        }
        h1 {
            font-size:30px;
        }
    }
}



@media all and (max-width: 992px) {
    body {
        padding-top:0;
    }
    .homepage-tabs-nav {
        max-width: 900px;
    }
    #currenthover, .currenthover {
        display: none!important;
    }
    .schooliconholder {
        display:none;
    }
    body.home .tabcontent {
        height:auto;
    }
    #listview {
        .fc-toolbar {
            display:flex !important;
        }
    }
    .navbar-expand-md {
        .menuicon {
            display:block;
            border:0;
            padding:0;
            z-index:9999999;
        }
    }
    #mobilesearch {
        display: block;
        button  {
            padding: 11px 10px 13px 10px;
            margin-top:1px;
        }
    }
    .navbar {
        position: fixed;
        top: 26px;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 50px;
        padding-bottom: 0;
    }
    #stickynav {
        width: auto;
        box-shadow:none!important;
        display: flex;
        padding:0;
        right: unset;
        border-radius: 10px;
        margin: 10px;
        z-index:999999;
    }
    header {
        z-index:99999;
    }
    .offcanvas-collapse {
        top:0;
    }
    .meet-the-staff2 {
        .staff-container {
            padding: 0;
            .staff-section {
                width:95%;
                display:block;
                font-size: 0.8em;
                padding:0;
                .thumbnail {
                    height:235px;
                    position: relative;
                    width: 100%;
                    margin: 0;
                }
                .member-block-image-ghost {
                    display: none!important;
                }
                .staff-text {
                    padding: 20px;
                }
            }
        }
    }
    .largetableview {
        display:none;
    }
    .mobileviewtable {
        display:block;
        .mobileviewlabel {
            background-color:$primarycolour;
            font-weight:bold;
            color:#fff;
        }
        tbody {
            display:inline-table;
            width:100%;
        }
    }
    .mobilesearch {
        display:block;
    }

    .offcanvas-collapse.open {
        display: block !important;
        ul {
            flex-direction: column !important;
        }
    }
    .offcanvas-collapse {
        top:0;
        z-index:999999;
        padding-top:90px;
    }

    .searchtopbuttonholder {
        border-top: 1px solid $medium-grey;
        margin:5px 0;
        padding:0px!important;
        .google_search {
            display:none;
        }
    }
    header {
        z-index:1;
        .al-logo {
            order:-1;
            width: 36%;
            padding-top:8px;
        }
        .logo-container {
            order:-1;
            margin-left: 70px;
            width: 40%;
        }
    }
    #top_buttons ul:first-child:not(.dropdown-menu) {
        margin: 5px 0 0 0 ;
        padding: 0;
        li {
            margin:10px 0 10px 10px !important;
            background-color:#fff;
            border: 1px solid $medium-grey;
            font-weight: bolder;
            flex-grow: 1;
            text-align: center;
            &:first-child {
                margin-left:0 !important;
            }
            a {
                color:$medium-grey;
                font-weight: $bold-weight;
                padding: 9px 10px 5px 10px;
            }
            &.hasdropdown {
                display: block;
                justify-content: center !important;
                a {
                    padding: 9px 10px 5px 10px !important;
                }
                i {
                    display: none;
                }
                .dropdown-menu {
                    margin: 0;
                    .double-sub {
                        width: 100%;
                    }
                    li {
                        border: none;
                    }
                }
            }
        }
    }

    .name-position {
        margin-bottom:15px;
    }
    .contact-details {
        display:block !important;
        justify-content:flex-start !important;
        p {
            margin:0 0 10px 0 !important;
        }
    }

    #sidebar-menu {
        li {
            &:hover {
                .sub-menu {
                    li {
                        a {
                            font-size:16px;
                        }
                    }
                }
            }
        }
    }

    .meet-the-staff2 {
        .staff-section {
            .staffimage {
                max-height:235px;
                min-height:235px;
            }
        }
    }

}
@media all and (max-width: 992px) {
    body {
        padding-top:0;
    }
    .container, .container-md, .container-sm {
        max-width: 100%;
    }
    body .line {
        display:none;
    }
    .tabcontent .content h2 {
        margin-top:20px
    }
    .navbar {
        top: 26px;
    }

    .navbar.fixed-top {
        left:auto;
    }

    body .front-page-header, body .partners .carousel-slide {
        margin-top:0 !important;
    }
    .front-page-header {
        height:auto;
        .left {
            width:100%;
            .siteicon {
                background-image:none !important;
                margin-left:0;
                height:auto;
                padding-bottom:60px;
                width:100%;
                .content_left {
                    margin-left:0;
                    width:100%;
                    .social {
                        text-align:center;
                        a:last-child {
                            padding-right:0;
                        }
                    }
                    .intro {
                        margin-top:10px;
                        text-align:center;
                        width:100%;
                        h1 {
                            font-size:2.2rem;
                        }
                    }
                }
            }
        }
        .slick-list {
            width:100%;
            height:350px;
            margin-top:0;
            float:none;
            .image-slider {
                height:350px;
                svg {
                    display:none;
                }
            }
        }
        .slick-dots {
            display:none !important;
        }
        .header-images-slick-slider {

        }
    }
    .meet-the-staff2 {
        .staff-container {
            flex-wrap: wrap;
            padding: 10px;
            .staff-section {
                width: 100%;
            }
        }
    }
    #slider_nav {
        display:none;
    }

    .container-white-laurel {
        background-image:none !important;
    }
    .schooliconholder {
        display:none;
    }
    .video-section {
        iframe {
            height:200px !important;
        }
    }
    .information-section {
        padding:50px 0 !important;
        .informationitem {
            text-align:center;
            margin-bottom:75px;
            h2 {
                text-align:center;
            }
            .information-panel-body-text {
                text-align:left;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    footer {
        .footer-base {
            padding:0 15px;
        }
    }
    .featured-top-image {
        margin-bottom:97px;
    }
    .slick-initialized .slick-slide {
        width:34%;
    }
    .newsholder {
        width:100%;
    }
    .twittercontainer {
        width:50%;
    }
    .navbar-expand-md .navbar-toggler .menuicon {
        display:block;
        float:right;
    }
    .featured-top-image {
        margin-bottom:20px;
        padding:100px 0;
        &.bottomleft {
            padding: 100px 0 0 0;
        }
        &.center {
            padding: 50px 0 50px 0;
        }
        h1 {
            font-size:22px;
        }
    }
    .course_details {
        div {
            margin-bottom:20px;
        }
    }
    .slick-controls-lower {
        display:none !important;
    }

    .insta-gallery {
        .sbi_item {
            width:50% !important;
            height:150px !important;
        }
    }


    #stickynav {
        width: auto;
        display: flex;
        padding:0;
        right: unset;
        border-radius: 10px;
        margin: 10px;
    }
    body.home {
        .tabcontent {
            border-top:solid 20px white;
            .container {
                .content {
                    max-width:100%;
                }
            }
        }
    }

    #mainnav {
        ul {
            li {
                width:45%;
                display: inline-block;
                .dropdown-menu {
                    width:90vw;
                    top:5px;
                   li a {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .homepage-tabs-nav {
        margin-top:-70px;
        .tab_button {
            box-shadow: 0px 5px 16px -3px rgb(0 0 0 / 50%);
            -webkit-box-shadow: 0px 5px 16px -3px rgb(0 0 0 / 50%);
            -moz-box-shadow: 0px 5px 16px -3px rgba(0, 0, 0, 0.5);
        }
        // .col {
        //     width: 49%;
        //     max-width: 49%;
        //     flex: auto;
        //     margin-bottom:5px;
        // }
        #slider_nav {
            ul {
                justify-content:left;
            }
        }
    }

    .contact-info {
        margin:0;
    }

    .contact-page {
        .contact-details {
            padding:5px 12px 0 12px;
        }
    }

    .newsevents {
        margin-right:auto !important;
        margin-left:auto !important;
    }

}

@media all and (max-width: 767px) {
    #sidebar-menu {
        margin-left:-11px;
        margin-right:-11px;
        display:flex;
        flex-flow: wrap;
        li {
            border:1px solid #fff;
            font-size:0.85rem;
            flex:0 0 50%;
            max-width:100%;
            a {
                margin: 0;
                font-weight: 300;
            }
            .sub-menu {
                li {
                    width:100%;
                }
            }
        }
    }
}

@media all and (max-width: 600px) {
    .navbar {
        top:15px;
    }
    #menu-top-buttons {
        padding:0 10px !important;
    }
}

@media all and (max-width: 540px) {
    .meet-the-staff2 {
        .staff-section {
            .member-block-image-ghost {
                width: 36%;
            }
        }
    }
}

@media all and (max-width: 504px) {
    #top_buttons ul:first-child {
        li {
            &.hasdropdown {
                margin-top:0 !important;
                margin-left:0 !important;
            }
        }
    }
    .meet-the-staff2 {
        .staff-section {
            .member-block-image-ghost {
                width: 38%;
            }
        }
    }
}

@media all and (max-width: 486px) {
    .meet-the-staff2 {
        .staff-section {
            .member-block-image-ghost {
                width: 40%;
            }
        }
    }
}

@media all and (max-width: 450px) {
    .meet-the-staff2 {
        .staff-section {
            .member-block-image-ghost {
                width: 43%;
            }
        }
    }
}

@media all and (max-width: 426px) {

    body {
        img.alignleft {
            float:none;
            width:100%;
        }
    }
    .navbar {
        top:6px;
    }

    .video-section {
        .container {
            .row {
                margin-left:388px !important;
                padding:30px 0 !important;
                iframe {
                    height:200px !important;
                }
            }
        }
    }
    .partner-slider {
        a {
            height:100px;
        }
    }
    .adult-learning-page {
        .contact-box {
            width:100%;
            margin:20px 0 0 !important;
            padding: 15px 5px !important;
            .contact-details {
                p {
                    width:100%;
                    padding:10px 15px;
                }
            }
        }
    }
    .page-template-vacancies {
        .log_interest {
            .cv_upload {
                .upload {
                    line-height:42px;
                    input[type="file"] {
                        line-height:40px;
                    }
                }
            }
        }
    }
    .tabcontent {
        .container {
            .image {
                max-width:100% !important;
                margin-bottom:20px;
                padding:0;
                img {
                    width:100%;
                    height: auto;
                }
            }
        }
    }
    .latestnews {
        .newsholder {
            .newsitem {
                padding:0;
                .newsitemdetails {
                    padding:0 15px;
                    width:100%;
                }
            }
        }
    }
    .information-section {
        .informationitem {
            padding:0;
        }
        .infodetails {
            padding:0 15px;
        }
    }
    .contact-info {
        margin:45px 0;
    }
    .cookieconsent_msg {
        line-height: 20px;
    }
    #listview {
        .fc-toolbar {
            padding:20px !important;
            display: block !important;
            justify-content: center;
            align-items: center;
            .fc-toolbar-chunk {
                text-align: center;
                margin-bottom: 10px;
                .fc-toolbar-title {
                    text-align:center;
                    margin-bottom:10px;
                }
                .fc-today-button {
                    margin-bottom:0;
                    margin-left:0;
                }
                &:last-child {
                    margin-bottom:0;
                }
            }
        }
    }

    .meet-the-staff2 {
        .staff-section {
            padding:0;
            .thumbnail {
                height: 200px;
                width: 100%;
                position: relative;
                margin: 0;
            }
            .member-block-image-ghost {
                display:none;
            }
            .staff-text {
                padding:20px;
            }
        }
    }

}

@media all and (max-width: 382px) {
    #menu-top-buttons {
        padding:0 20px 0 10px !important;
    }
    #top_buttons ul:first-child {
        li {
            &:first-child {
                margin-left:10px !important;
            }
            &.hasdropdown {
                margin:10px 0 10px 10px !important;
            }
        }
    }
}

@media all and (max-width: 321px) {
    .navbar {
        top:0;
    }
    .departmentlabel {
        p {
            font-size:0.7em;
            margin-top:3px;
        }
    }
}

@media all and (max-width: 290px) {
    header {
        .logo-container {
            margin-left:50px;
        }
    }
}
