@media all and (max-width: 992px) {
    #listview {
        .fc-toolbar {
            display:flex !important;
        }
    }
}
@media all and (max-width: 770px) {
    body {
        padding-top:0;
    }
    body .line {
        display:none;
    }

    .searchtopbuttonholder {
        border-top: 1px solid $medium-grey;
        margin:5px 0;
        padding:0px!important;
        .google_search {
            display:none;
        }
    }
    .navbar.fixed-top {
        left:auto;
    }
    
    body .front-page-header, body .partners .carousel-slide {
        margin-top:0 !important;
    }
    .front-page-header {
        height:auto;
        .left {
            width:100%;
            .siteicon {
                background-image:none !important;
                margin-left:0;
                height:auto;
                padding-bottom:60px;
                width:100%;
                .content_left {
                    margin-left:0;
                    width:100%;
                    .social {
                        text-align:center;
                        a:last-child {
                            padding-right:0;
                        }
                    }
                    .intro {
                        margin-top:10px;
                        text-align:center;
                        width:100%;
                        h1 {
                            font-size:2.2rem;
                        }
                    }
                }
            }
        }
        .slick-list {
            width:100%;
            height:250px;
            margin-top:0;
            float:none;
            .image-slider {
                height:250px;
                svg {
                    display:none;
                }
            }
        }
        .slick-dots {
            display:none !important;
        }
        .header-images-slick-slider {

        }
    }

    #slider_nav {
        display:none;
    }

    .container-white-laurel {
        background:none !important;
    }
    .schooliconholder {
        display:none;
    }
    .video-section {
        iframe {
            height:200px !important;
        }
    }
    .information-section {
        padding:50px 0 !important;
        .informationitem {
            text-align:center;
            margin-bottom:75px;
            h2 {
                text-align:center;
            }
            .information-panel-body-text {
                text-align:left;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    footer {
        .footer-base {
            padding:0 15px;
        }
    }
    .offcanvas-collapse {
        top:50px;
        z-index:999999;
    }
    .featured-top-image {
        margin-bottom:97px;
    }
    .slick-initialized .slick-slide {
        width:34%;
    }
    .newsholder {
        width:100%;
    }
    .twittercontainer {
        width:50%;
    }
    .navbar-expand-md .navbar-toggler {
        display:block;
        float:right;
    }
    .featured-top-image {
        margin-bottom:20px;
        padding:100px 0;
    }
    #sidebar-menu {
        margin-left:-11px;
        margin-right:-11px;
        display:flex;
        flex-flow: wrap;
        li {
            border:1px solid #fff;
            background:$primarycolour;
            font-size:0.85rem;
            flex:0 0 50%;
            max-width:50%;
        }
    }
    .course_details {
        div {
            margin-bottom:20px;
        }
    }
    .slick-controls-lower {
        display:none !important;
    }
    .contact-box {
        width:95vw;
        margin:30px 10px 0 !important;
        .name-position {
            margin-bottom:20px;
        }
        .contact-details {
            justify-content:inherit !important;
            display:block !important;
            p {
                margin:0 0 10px 0;
                float: left;
            }
        }
    }
    .adult-learning-page {
        .contact-box {
            width:95vw;
            margin:30px 10px 0 !important;
            .name-position {
                margin-bottom:20px;
            }
            .contact-details {
                justify-content:inherit !important;
                display:block !important;
                p {
                    margin:0 0 10px 0;
                    float: left;
                }
            }
        }
    }
    .insta-gallery {
        .sbi_item {
            width:50% !important;
            height:150px !important;
        }
    }



    header {
        z-index:1;
        .al-logo {
            order:-1;
            width: 40%;
        }
        .logo-container {
            order:-1;
            margin-left: 70px;
            width: 40%;
        }
        #top_buttons ul:first-child {
            margin: 5px 0 0 0 ;
            padding: 0;
            li {
                margin: 4px;
                background-color:#fff ;
                border: 1px solid $medium-grey;
                font-weight: bolder;
                flex-grow: 1;
                    text-align: center;
                a {
                    color:$medium-grey;
                    font-weight: $bold-weight;
                    padding: 9px 10px 5px 10px;
                }
                &.hasdropdown {
                    display: block;
                    i {
                        display: none;
                    }
                    .dropdown-menu {
                        margin: 0;
                        .double-sub {
                            width: 100%;
                        }
                        li {
                            border: none;
                        }
                    }
                }
            }
           
        }
    }

    #stickynav {
        width: auto;
        box-shadow:none!important;
        display: flex;
        padding:0;
        right: unset;
        border-radius: 10px;
        margin: 10px;
    }

    body.home {
        .tabcontent {
            border-top:solid 20px white;
            .container {
                .content {
                    max-width:100%;
                }
            }
        }
    }

    #mainnav {
        ul {
            li {
                .dropdown-menu {
                    width:90vw;
                }
            }
        }
    }

    .homepage-tabs-nav {
        padding:0;
        margin-top:0;
        .tab_button {
            box-shadow: 0px 5px 16px -3px rgb(0 0 0 / 50%);
            -webkit-box-shadow: 0px 5px 16px -3px rgb(0 0 0 / 50%);
            -moz-box-shadow: 0px 5px 16px -3px rgba(0, 0, 0, 0.5);
        }
        // .col {
        //     width: 49%;
        //     max-width: 49%;
        //     flex: auto;
        //     margin-bottom:5px;
        // }
        #slider_nav {
            ul {
                justify-content:left;
            }
        }
    }

    .contact-info {
        margin:0;
    }

    .contact-page {
        .contact-details {
            padding:5px 12px 0 12px;
        }
    }

}
@media all and (max-width: 426px) {
    .video-section {
        .container {
            .row {
                margin-left:388px !important;
                padding:30px 0 !important;
                iframe {
                    height:200px !important;
                }
            }
        }
    }
    .partner-slider {
        a {
            height:100px;
        }
    }
    .adult-learning-page {
        .contact-box {
            width:100%;
            margin:20px 0 0 !important;
            padding: 15px 5px !important;
            .contact-details {
                p {
                    width:100%;
                    padding:10px 15px;
                }
            }
        }
    }
    .page-template-vacancies {
        .log_interest {
            .cv_upload {
                .upload {
                    line-height:42px;
                    input[type="file"] {
                        line-height:40px;
                    }
                }
            }
        }
    }
    .homepage-tabs-nav {
        .col {
            width: 100%;
            max-width: 100%;
            flex: auto;
            margin:0;
        }
    }
    .tabcontent {
        .container {
            .image {
                max-width:100% !important;
                margin-bottom:20px;
                padding:0;
                img {
                    width:100%;
                }
            }
        }
    }
    .latestnews {
        .newsholder {
            .newsitem {
                padding:0;
                .newsitemdetails {
                    padding:0 15px;
                    width:100%;
                }
            }
        }
    }
    .information-section {
        .informationitem {
            padding:0;
        }
        .infodetails {
            padding:0 15px;
        }
    }
    .contact-info {
        margin:45px 0;
    }
    .cookieconsent_msg {
        line-height: 20px;
    }
    #listview {
        .fc-toolbar {
            padding:20px !important;
            display: block !important;
            justify-content: center;
            align-items: center;
            .fc-toolbar-chunk {
                text-align: center;
                margin-bottom: 10px;
                .fc-toolbar-title {
                    text-align:center;
                    margin-bottom:10px;
                }
                .fc-today-button {
                    margin-bottom:0;
                    margin-left:0;
                }
                &:last-child {
                    margin-bottom:0;
                }
            }
        }
    }

}

@media all and (max-width: 321px) {

}
