
  body {
    font-family: $bodyfont;
    font-size: $bodyfontsize;
    font-weight: $bodyfontweight;
    color: $darkgrey;
    word-break: break-word;
    line-height: normal;
    a {
      text-decoration: none;
      color: $primarycolour;
      &:hover {
        color: darken($primarycolour,10%);
        text-decoration: none;
      }
    }
    h1, h2, h3, h4 {
      font-family:$headingsfont;
      font-weight:$headingsfontweight;
    }
    strong {
      font-weight: bolder;
    }
    h2 {
      text-transform: uppercase;
      color: $primarycolour;
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    p, ul, ol{
      font-size: $bodyfontsize;
      line-height: $bodylineheight;
    }
    ::selection {
      background: darken($primarycolour,10%);
      color: #fff;
    }
  }