//Site settings handles school colours etc
//Below are the colours that all sites will use

$lightgrey: #d6d7d9;
$darkgrey: #3f3f3f;
$medium-grey: #9c9c9c;
//$hairline-weight: 100;
//$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
//$medium-weight:   500;
//$semibold-weight: 600;
$bold-weight:     600;
//$xbold-weight:    800;
//$black-weight:    900;

$headerheight: 540px;
$footerheight: 510px;